@inherits LayoutComponentBase
@using WhoKnowsV2.Components.Pages
@using WhoKnowsV2.util
@using Microsoft.AspNetCore.Components.Authorization
@inject ApiAuthenticationStateProvider LoginService
@inject NavigationManager Navigation

<PageTitle>Frontend.Blazor</PageTitle>

<CascadingAuthenticationState> 
    @{
        Console.WriteLine("hey");
    }
    <AuthorizeView Context="auth">
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu/>
                </div>

                <main>
                    <div class="top-row px-4">
                        <div class="m-2">Welcome @auth.User.Identity?.Name</div>
                        <div>
                            <a @onclick="OnLogoutAsync" href="#">
                                Logout
                            </a>
                        </div>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            <Login/>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private async Task OnLogoutAsync()
    {
        await LoginService.MarkUserAsLoggedOut();  // Use the correct logout method from your provider
        Navigation.NavigateTo("/login");   // Correct usage of the NavigationManager instance
    }
}
