@page "/"
@attribute [AllowAnonymous]
<PageTitle>Index</PageTitle>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <div class="mb-4">
                <h1 class="display-4 fw-bold">Welcome to Team Dood's Website 🎉</h1>
            </div>
            <p class="lead">
                This website is made as an assignment at <strong>KEA</strong> and is an answer to how to improve a flask legacy web app.
            </p>
            <p class="fs-5">
                Therefore, we created this modern Blazor web app built on the <strong>Blazor Server Framework</strong> with a dotnet api backend.
            </p>
        </div>
    </div>
</div>
