<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
