@using BlazorWhoknowsV2.Pages
@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<PageTitle>BlazorWhoknowsV2</PageTitle>

<div class="page">


    <AuthorizeView>
    <Authorized>
            
                <NavMenu />
           

            <main>
                <div class="top-row px-4 auth">
                 
                    
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
    </Authorized>
    <NotAuthorized>
        <div class="page">
        <Login></Login>
            </div>
    </NotAuthorized>
</AuthorizeView>




</div>
